# Environment / secrets
/.env
/env
/bot-env
/.vscode
/.idea

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db